body {
  margin: 0px;
  padding: 0px;
}

.l-header {
  display: block;
  height: 736px;
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
  color: #fff;
  padding-top: 64px;
  padding-left: 128px;
}

.l-header>h1,p {
  width: 32%;
}

.l-header>h1 {
  font-size: 80px;
}

.main {
  height: 128px;
  width: 200px;
  margin: 1px;
  text-align: center;
  line-height: 128px;
  font-size: 48px;
}

.cut {
  height: 16px;
  width: 200px;
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
  margin: 1px;
}

.shaving {
  height: 16px;
  width: 200px;
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
  margin: 1px;
}

.l-all {
  margin: 64px auto 160px auto;
  display: flex;
  justify-content: space-around;
  color: slategrey;
}

.l-front {
  display: flex;
}

.l-back {
  display: flex;
}

.l-left {
  display: flex;
}

.l-right {
  display: flex;
}

.one>.main,.one>.cut,.one>.shaving {
  width: 16px;
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
}

.three>.main,.three>.cut,.three>.shaving {
  width: 16px;
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
}

.four>.main,.four>.cut,.four>.shaving {
  width: 16px;
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
}

.six>.main,.six>.cut,.six>.shaving {
  width: 16px;
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
}

.left>.main,.left>.cut,.left>.shaving {
  width: 32px;
  background: #fff;
  font-size: 12px;
  text-align: right;
  line-height: 16px;
}

.right>.main,.right>.cut,.right>.shaving {
  width: 32px;
  background: #fff;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
}

.right>.main,.right>.cut,.right>.shaving {
  width: 32px;
  background: #fff;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
}

.mainSize {
  width: 32px;
  background: #fff;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
}

.topOut {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
}

.bottomOut {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

/* .topOutSize {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
}

.bottomOutSize {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
} */

.right>.main {
  line-height: 128px;
}

.l-selector {
  height: 128px;
  display: flex;
  flex-flow: wrap column;
  align-content: space-around;
  margin: 0 auto;
}

.l-selector>select {
  width: 14%;
}

select {
  font-size: large;
}

.l-form {
  display: flex;
  justify-content: space-around;
  padding-bottom: 64px;
}

.l-m,.l-c {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: small;
  width: 50%;
}

.l-m>p,.l-c>p {
  width: 20%;
}

#bookSize,#direction,#method,#paperSize {
  margin-bottom: 32px;
}

.l-selector {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  padding-top: 32px;
}