body {
  margin: 0px;
  padding: 0px;
}

.l-header {
  display: block;
  height: 800px;
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
  color: #fff;
  padding-top: 64px;
  padding-left: 128px;
}

.l-header>h1,p {
  width: 32%;
}

.l-header>h1 {
  font-size: 80px;
}

.main {
  height: 128px;
  width: 200px;
  margin: 1px;
  text-align: center;
  line-height: 128px;
  font-size: 48px;
}

.cut {
  height: 16px;
  width: 200px;
  background-color: beige;
  margin: 1px;
}

.shaving {
  height: 16px;
  width: 200px;
  background-color : beige;
  margin: 1px;
}

.l-all {
  margin: 160px auto 160px auto;
  padding-top: 32px;
  display: flex;
  justify-content: space-around;
  color: slategrey;
}

.l-front {
  display: flex;
}

.l-back {
  display: flex;
}

.l-left {
  display: flex;
}

.l-right {
  display: flex;
}

.one>.main,.one>.cut,.one>.shaving {
  width: 16px;
  background-color: beige;
}

.three>.main,.three>.cut,.three>.shaving {
  width: 16px;
  background-color: beige;
}

.four>.main,.four>.cut,.four>.shaving {
  width: 16px;
  background-color: beige;
}

.six>.main,.six>.cut,.six>.shaving {
  width: 16px;
  background-color: beige;
}

.left>.main,.left>.cut,.left>.shaving {
  width: 32px;
  background-color: #fff;
  font-size: 16px;
  text-align: right;
  line-height: 16px;
}

.right>.main,.right>.cut,.right>.shaving {
  width: 32px;
  background-color: #fff;
  font-size: 16px;
  text-align: left;
  line-height: 16px;
}

.top-out {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
}

.bottom-out {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
}

.right>.main {
  line-height: 128px;
}

.top-out {
  height: 16px;
  line-height: 16px;
}

.l-selector {
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-left: 128px;
  margin: 0 auto;
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
}

.l-selector>select {
  width: 14%;
}

#book-size,#direction,#method,#paper-size {
  margin-bottom: 32px;
}