body {
  margin: 0;
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
}

header {
  margin-top: 64px;

  h1 {
    margin: 0 0 0 176px;
    color: #fff;
    font-size: 64px;
  }
  p {
    display: block;
    width: 320px;
    margin-left: 176px;
    color: #fff;
  }
}

select {
  margin: 64px 0 0 176px;
  height: 24px;
  border: green solid 1px;
}

.l-selector {
  display: flex;
}

svg {
  width: 40%;
  margin-left: 288px;
}