@mixin back-color{
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
}

$no-color: #fff;
$base-width: 1px;
$short: 16px;

@mixin back {
  width: 16px;
  @include back-color;
}

@mixin back-main {
  width: 32px;
  background: #fff;
  font-size: 12px;
  text-align: right;
  line-height: 16px;
}

@mixin out {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

/* base */
body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: $no-color;
}

h1 {
  margin: 0;
}
/* module  */
select {
  margin: 16px auto;
  font-size: medium;
  height: 32px;
  width: 208px;
}

button:hover {
  cursor: pointer;
}

.re {
  display: flex;
  justify-content: center;
  margin: 32px auto 32px auto;
}

/* layout */
.l-header {
  height: 96px;
  @include back-color;
  color: $no-color;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .l-header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 4%;

     span {
      animation: color-change 5s linear infinite;
      margin:20px;
      font-size:30px;
        font-weight: bold;
    }
    
    @keyframes color-change {
      0%,100%{
        color: red;
      }
    
      25%{
        color: $no-color;
      }
      
      50%{
        color: purple;
      }
      
      75%{
        color: $no-color;
      }
    }
  }
}

.l-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* theme */

/* state */
/* 8面レイアウト */
.main {
  height: 128px;
  width: 200px;
  margin: $base-width;
  text-align: center;
  line-height: 128px;
  font-size: 48px;
}

.cut {
  height: 16px;
  width: 200px;
  @include back-color;
  margin: $base-width;
}

.shaving {
  height: 16px;
  width: 200px;
  @include back-color;
  margin: $base-width;
}

.l-eight {
  margin: 64px auto 160px auto;
  display: flex;
  justify-content: space-around;
  color: slategrey;
}

.l-front {
  display: flex;
}

.l-back {
  display: flex;
}

.l-left {
  display: flex;
}

.l-right {
  display: flex;
}

.one>.main,.one>.cut,.one>.shaving {
  @include back;
}

.three>.main,.three>.cut,.three>.shaving {
  @include back;
}

.four>.main,.four>.cut,.four>.shaving {
  @include back;
}

.six>.main,.six>.cut,.six>.shaving {
  @include back;
}

.left>.main,.left>.cut,.left>.shaving {
  @include back-main;
}

.right>.main,.right>.cut,.right>.shaving {
  @include back-main;
}

.right>.outerCut,.right>.innerCut,.right>.rightShaving {
  @include mack-main;
  height: 16px;
  margin: $base-width;
}

.right>.rightMain{
  @include mack-main;
  height: 128px;
  margin: $base-width;
}

.topOut {
  @include out;
  height: 16px;
}

.bottomOut,.shortOutOne,.shortOut,.shortIn,.bottomOutValue {
  @include out;
}

.right>.rightMain {
  line-height: 128px;
}

/* 16面レイアウト */



/* variable */
