@charset "UTF-8";
/* base */
body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  margin: 0;
}

/* module  */
select {
  margin: 16px auto;
  font-size: medium;
  height: 32px;
  width: 208px;
}

button:hover {
  cursor: pointer;
}

.re {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px auto 32px auto;
}

/* layout */
.l-header {
  height: 96px;
  background: #DAD299;
  background: -webkit-gradient(linear, left top, right top, from(#B0DAB9), to(#DAD299));
  background: linear-gradient(to right, #B0DAB9, #DAD299);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header .l-header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4%;
}

.l-header .l-header-main span {
  -webkit-animation: color-change 5s linear infinite;
          animation: color-change 5s linear infinite;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
}

@-webkit-keyframes color-change {
  0%, 100% {
    color: red;
  }
  25% {
    color: #fff;
  }
  50% {
    color: purple;
  }
  75% {
    color: #fff;
  }
}

@keyframes color-change {
  0%, 100% {
    color: red;
  }
  25% {
    color: #fff;
  }
  50% {
    color: purple;
  }
  75% {
    color: #fff;
  }
}

.l-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* theme */
/* state */
/* 8面レイアウト */
.main {
  height: 128px;
  width: 200px;
  margin: 1px;
  text-align: center;
  line-height: 128px;
  font-size: 48px;
}

.cut {
  height: 16px;
  width: 200px;
  background: #DAD299;
  background: -webkit-gradient(linear, left top, right top, from(#B0DAB9), to(#DAD299));
  background: linear-gradient(to right, #B0DAB9, #DAD299);
  margin: 1px;
}

.shaving {
  height: 16px;
  width: 200px;
  background: #DAD299;
  background: -webkit-gradient(linear, left top, right top, from(#B0DAB9), to(#DAD299));
  background: linear-gradient(to right, #B0DAB9, #DAD299);
  margin: 1px;
}

.l-eight {
  margin: 64px auto 160px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: slategrey;
}

.l-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.one > .main, .one > .cut, .one > .shaving {
  width: 16px;
  background: #DAD299;
  background: -webkit-gradient(linear, left top, right top, from(#B0DAB9), to(#DAD299));
  background: linear-gradient(to right, #B0DAB9, #DAD299);
}

.three > .main, .three > .cut, .three > .shaving {
  width: 16px;
  background: #DAD299;
  background: -webkit-gradient(linear, left top, right top, from(#B0DAB9), to(#DAD299));
  background: linear-gradient(to right, #B0DAB9, #DAD299);
}

.four > .main, .four > .cut, .four > .shaving {
  width: 16px;
  background: #DAD299;
  background: -webkit-gradient(linear, left top, right top, from(#B0DAB9), to(#DAD299));
  background: linear-gradient(to right, #B0DAB9, #DAD299);
}

.six > .main, .six > .cut, .six > .shaving {
  width: 16px;
  background: #DAD299;
  background: -webkit-gradient(linear, left top, right top, from(#B0DAB9), to(#DAD299));
  background: linear-gradient(to right, #B0DAB9, #DAD299);
}

.left > .main, .left > .cut, .left > .shaving {
  width: 32px;
  background: #fff;
  font-size: 12px;
  text-align: right;
  line-height: 16px;
}

.right > .main, .right > .cut, .right > .shaving {
  width: 32px;
  background: #fff;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
}

.right > .outerCut, .right > .innerCut, .right > .rightShaving {
  width: 32px;
  background: #fff;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  height: 16px;
  margin: 1px;
}

.right > .rightMain {
  width: 32px;
  background: #fff;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  height: 128px;
  margin: 1px;
}

.topOut {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
}

.bottomOut {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.shortOutOne {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.shortOut {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.shortIn {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.bottomOutValue {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.right > .rightMain {
  line-height: 128px;
}

/* 16面レイアウト */
/* variable */
/*# sourceMappingURL=about.css.map */