$out-margin: 64px;
$no-width: 20px;
$main-width: 160px;
$btm-margin: 112px;
$main-color: lightblue;
$no-color: #fff;
$item-margin: 32px;
$en-font: futura;
$base-width: 1px;

@mixin back-color{
  background: #DAD299; 
  background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299); 
  background: linear-gradient(to right, #B0DAB9, #DAD299); 
}

@mixin no-all {
  margin: 0px;
  padding: 0px;
}

@mixin flex-main {
  display: flex;
  justify-content: center;
}

@mixin flex-align {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin short-size {
  width: $no-width;
  height: $no-width;
}

@mixin font-end {
  display: flex;
  align-items: flex-end;
}

.l-front {
  .l-design {
    .left {
      .main {
        @include font-end;
      }
    }
  }
}

.l-back {
  .l-design {
    .right {
      .main {
        @include font-end;
      }
    }
  }
}

.top-out,.bottom-out {
  height: $item-margin;
  @include font-end;
  justify-content: center;
}

.left,.right {
  .cut,.shaving {
    @include short-size;
    background-color: $no-color;
    margin: $base-width;
  }
  .main {
    height: $main-width/2;
    width: $item-margin;
    background-color: $no-color;
    margin: $base-width;
    display: flex;
    align-items: center;
  }
}

.one,.three,.four,.six,.seven,.nine,.ten,.twelve {
  .cut,.shaving {
    @include short-size;
    background-color: $main-color;
    margin: $base-width;
  }
  .main {
    height: $main-width/2;
    width: $no-width;
    background-color: $main-color;
    margin: $base-width;
  }
}

.two,.five,.eight,.eleven {
  .cut,.shaving {
    width: $main-width;
    height: $no-width;
    background-color: $main-color;
    margin: $base-width;
  }
  .main {
    height: $main-width/2;
    width: $main-width;
    background-color: $no-color;
    margin: $base-width;
  }
}

.l-design {
  @include flex-main;
  margin-bottom: $btm-margin;
}

.l-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  select {
    margin-top: $item-margin;
    width: $main-width;
  }
}

.re {
  @include flex-main;
}

.btn {
  width: $main-width;
  line-height: 48px;
  background-color: $main-color;
  text-align: center;
  border-radius: 32px;
  color: $no-color;
  margin: $btm-margin/2 0;
  font-weight: bold;
  font-family: $en-font;
  box-shadow: 0px 3px 3px 0px gray;
  &:hover {
    cursor: pointer;
    background-color: lighten($main-color, 6%);
  }
  &:active {
    box-shadow: none;
    background-color: $main-color;
    transform: translateY(3px);
  }
}

body {
  @include no-all;
}

a {
  text-decoration: none;
  color: $no-color;
}

h1 {
  font-family: $en-font;
}

.l-header {
  height: 96px;
  @include back-color;
  @include flex-align;

  .l-header-main {
    @include flex-align;
    margin: 0 4%;

     span {
      animation: color-change 5s linear infinite;
      margin: 20px;
      font-size: 30px;
      font-weight: bold;
    }
    
    @keyframes color-change {
      0%,100%{
        color: red;
      }
    
      25%{
        color: #fff;
      }
      
      50%{
        color: purple;
      }
      
      75%{
        color: #fff;
      }
    }
  }
}

.right>.outerCut,.right>.innerCut,.right>.rightShaving {
  width: $item-margin;
  background:$no-color;
  text-align: left;
  height: $no-width;
  margin: $base-width;
}
